<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type-"text/css" href="/static/styles/css.css">
    <title>Login Page </title>
</head>

<body>
    <div class="loginbox">
        <img src="avatar2.png" class="avatar">
        <h1>Login Here</h1>
        <form>
            <p>username</p>
            <input type="text" name="" placeholder="enter username">
            <p>password</p>
            <input type="password" name="" placeholder="enter password">
            <a href="/chatbot">Login</a>
            <br>
            <a href="#">forgotten password?</a><br>
            <a href="#">Don't have an account?</a>

        </form>
    </div>











</body>

</html>