<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthbot</title>
    <style>
        .row {
            display: flex;
            flex-direction: row;
        }
    </style>
</head>

<body>
    <form class="row" method="dialog">
        <input type="text">
        <button onclick="sendMessage()">Send</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io('/test');
        socket.on('connect', function () {
            console.log("connected")
        });

        const sendMessage = () => {
            socket.emit('user_input', { data: document.querySelector("input").value });
            return false;
        };

        socket.on('bot_response', function (data) {
            console.log(data);
        });
    </script>
</body>

</html>